<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logistic Regression</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='lr.css') }}">
    </head>
    <body>
        <h2>Logistic Regression Results</h2>
        <section>
            <h3>Train Scores:</h3>
            <p>{{ round_train_scores_lr }}</p>
            <img src="data:image/png;base64,{{ train_scores_lr_img }}" alt="Training Scores">
        </section>
        <section>
            <h3>Test Scores:</h3>
            <p>{{ round_test_scores_lr }}</p>
            <img src="data:image/png;base64,{{ test_scores_lr_img }}" alt="Testing Scores">
        </section>
        <section>
            <h3>Error Rate:</h3>
            <p>{{ round_error_rate_lr }}</p>
            <img src="data:image/png;base64,{{ error_rate_lr_img }}" alt="Error Rate">
        </section>
        <section>
            <h3>Confusion Matrix:</h3>
            <img src="data:image/png;base64,{{ confusion_matrix_lr_img }}" alt="Confusion Matrix">
        </section>
        <section>
            <h3>Accuracy:</h3>
            <p>{{ accuracy * 100 }} %</p>
        </section>
        <section>
            <h3>Classification Report:</h3>
            <pre>{{ formatted_report_rfc|safe }}</pre>
        </section>
    </body>
</html>